<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= name %> <%= say %></h1>
    <p>Welcome to my site by<%= name %></p>
  </body>
</html>
